.card {
  margin-top: 20px;
  width: 90%;
  border: 1px solid $light-blue;

  .header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .title-container {
      .card-title {
        margin: auto 0;
        padding-bottom: 10px;
      }

      .card-subtitle {
        margin: auto 0;
        .clock {
          font-size: 1.5rem;
        }
      }
    }

    .menu {
      .menu-link {
        display: flex;
        justify-content: flex-end;
      }

      .menu-list {
        position: absolute;
        right: 20px;
        align-items: end;
        border: $light-blue solid 1px;
        padding: 2px 5px;
        border-radius: 5px;

        .menu-list-item {
          border-bottom: $light-blue 1px solid;
          margin: auto 0;

          a {
            display: flex;
            margin: 2px 0;

            i {
              margin-right: 5px;
              position: relative;
              top: 3px;
            }

            p {
              margin: 5px 10px 0 2px;
            }
          }
        }

        .menu-list-item:last-child {
          border: none;
        }
      }
    }
  }


  .exercise-summary-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    .row-labels {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 80px;

      div {
        margin: 5px 10px 5px 0;
        text-align: end;
      }
    }

    .set-summary-container {
      display: flex;
      justify-content: flex-start;
      overflow-x: scroll;
      border: $light-blue solid 1px;

      .exercise-summary {
        border-right: $light-blue solid 1px;
        min-width: 175px;
        max-width: 175px;
        height: 100%;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 2fr;

        &:last-child {
          border-right: 0;
        }

        div {
          margin: auto 0;
          text-align: center;
        }
      }
    }
  }
}
