.exerciseDetails-view {
  .body {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 120px);

    .content {
      flex: 1 0 auto;
    }

    .footer {
      flex-shrink: 0;
    }
  }

  .floating-btn-container {
    display: flex;
    justify-content: flex-end;
    margin: 20px;
  }
}
