<div class="login-view">
  <banner-header />
  <form-header text="Log In" />
  <form>
    <div class="container">
      <div class="text-input-wrapper justify-content-center row" >
        <div class="col-10">
          <text-input
            name="email"
            label="Email"
            type="email"
            v-model="email"
            :error="emailError"
            left-icon="person"
          />
        </div>
      </div>
      <div class="text-input-wrapper justify-content-center row">
        <div class="col-10">
          <text-input
            name="password"
            label="Password"
            type="password"
            v-model="password"
            :error="passwordError"
            left-icon="lock"
          />
        </div>
      </div>
      <div class="text-input-wrapper button-wrapper">
        <app-button label="Submit" type="submit" @clicked="handleSubmit"/>
      </div>
    </div>
    <redirect-disclaimer messageText="Don't have an account?" linkText="Sign up here." href="/signup" />
  </form>
</div>
