.workout-view {
  .container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 60px);
    
    .body {
      flex: 1 0 auto;
    }
    
    .submit-button {
      flex-shrink: 0;
    }
  }
}

