.workout-view {
  .container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 60px);
    
    .body {
      flex: 1 0 auto;

      .no-exercises-msg {
        font-family: Nobile;
        text-align: center;
        font-style: italic;
      }

      .exercise-item-container:after {
        content: "";
        position: absolute;
        left: 5%;
        width: 90%;
        bottom: 0;
        background: #3E92CC;
        height: 1px;
      }
    }
    
    .submit-button {
      flex-shrink: 0;
    }
  }
}

