<div class="workout-view">
  <app-header text="Quick Workout"/>
  <div class="container">
    <div class="body" >
      <div class="no-exercises-msg" v-if="!exerciseExecutions.length">
        <p>
          Press ➕ to add exercises
        </p>
      </div>
      <exercise-execution-item
        v-else
        v-for="(exerciseExecution, exerciseIndex) in exerciseExecutions"
        :exerciseExecutions="exerciseExecutions"
        :exerciseExecution="exerciseExecution"
        :exerciseIndex="exerciseIndex"
        :key="exerciseExecution.id"
      />
    </div>
    <floating-button @clicked="goToAddExercise" v-if="!workout.finishedAt" />
    <div v-if="!workout.finishedAt" class="submit-button">
      <app-button
        label="Complete Workout"
        type="wide-bottom"
        @clicked="handleWorkoutCompleted"
      />
    </div>
  </div>
</div>
