.quick-workout {
}

.quick-workout-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 60px);
}

.quick-workout-body {
  flex: 1 0 auto;
}

.quick-workout-container .submit-button {
  flex-shrink: 0;
}
