.home-view {
  height: 100vh;

  .home-container {
    height: calc(100% - 120px);
    overflow-y: scroll;
    background-color: $grey;
    padding-bottom: 20px;

    .spinner {
      margin: 10px 0;
    }
  }
}
