<div class="workout-view">
  <app-header text="Quick Workout"/>
  <div class="workout-view-container">
    <modal ref="setExecutionModal" @onClose="handleModalClose">
      <template v-slot:header>
        {{ modalHeader }}
      </template>
      <template v-slot:body>
        <div class="modal-body">
          <div class="modal-body-item">
            <p>Weight</p>
            <div class="modal-text-input-wrapper">
              <text-input
                v-model="editingSet.weight"
                type="number"
                center-text
              />
            </div>
          </div>
          <div class="modal-body-item">
            <p>Reps</p>
            <div class="modal-text-input-wrapper">
              <text-input
                v-model="editingSet.reps"
                type="number"
                center-text
              />
            </div>
          </div>
        </div>
      </template>
      <template v-slot:footer>
        <div class="modal-button-wrapper">
          <app-button
            v-if="isModalEdit"
            label="Delete"
            type="btn-outline-danger"
            @clicked="handleDeleteEditingSetClick"
          />
          <app-button label="Save" @clicked="handleSaveEditingSetClick"/>
        </div>
      </template>
    </modal>
    <div class="body" >
      <div class="no-exercises-msg" v-if="!exerciseExecutions.length">
        <p>
          Press ➕ to add exercises
        </p>
      </div>
      <quick-workout-exercise
        v-else
        v-for="(exerciseExecution, exerciseIndex) in exerciseExecutions"
        :exerciseExecution="exerciseExecution"
        :key="exerciseExecution.id"
        :previousSummary="previousSummaryFor(exerciseExecution)"
        :isNext="isNext(exerciseExecution, exerciseIndex)"
        @longClick="handleSetLongClick(exerciseExecution)"
      />
    </div>
    <div class="floating-btn-container">
      <floating-button @clicked="goToAddExercise" v-if="!workout.finishedAt" />
    </div>
    <div v-if="!workout.finishedAt" class="submit-button">
      <app-button
        label="Complete Workout"
        block
        @clicked="handleWorkoutCompleted"
      />
    </div>
  </div>
</div>
