.workout-view {
  .workout-view-container {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 60px);

    .modal-body {
      display: flex;
      flex-direction: column;

      .modal-body-item {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        
        p {
          width: 80px;
          margin: 10px 0;
        }

        .modal-text-input-wrapper {
          text-align: center;
          width: 30%;
        }
      }
    }

    .modal-button-wrapper {
      margin: 20px 0;
      display: flex;
      justify-content: space-around;
    }
    
    .body {
      flex: 1 0 auto;

      .no-exercises-msg {
        margin-top: 20px;
        font-family: $default-font;
        text-align: center;
        font-style: italic;

        p {
          margin: 0;
          font-size: 1.1em;
        }
      }

      .exercise-item-container:after {
        content: "";
        position: absolute;
        left: 5%;
        width: 90%;
        bottom: 0;
        background: $light-blue;
        height: 1px;
      }
    }

    .floating-btn-container {
      display: flex;
      justify-content: flex-end;
      margin: 20px;
    }
    
    .submit-button {
      flex-shrink: 0;
      margin-bottom: 60px;
    }
  }
}

