<div class="exerciseSearch-view">
  <app-header text="Add Exercise"/>
  <div class="search-container">
    <text-input
      name="search"
      label="Search Exercises"
      v-model="searchText"
      @input="debouncedSearch"
      left-icon="search"
    />
  </div>
  <div class="search-results-container">
    <ul v-if="searchResults.length" class="search-results-list">
      <li class="search-results-item"
        v-for="result in searchResults"
        :key="result.id"
        @click="handleExerciseClicked(result)"
      >
        <p>
          {{ result.name }}
        </p>
      </li>
    </ul>
    <div v-else class="no-results-msg">
      No Results
    </div>
  </div>
</div>
