.exerciseSearch-view {
  .search-container {
    margin: 30px;
  }

  .search-results-list {
    list-style-type: none;
    margin: 0 30px;
    font-family: $default-font;
    border-top: 1px solid $light-blue;
    padding-inline-start: 0;
  }

  .search-results-item {
    padding: 20px 0 20px 10px;
    border-bottom: 1px solid $light-blue;

    p {
      margin: 0;
    }
  }

  .no-results-msg {
    margin: 0 30px;
    padding: 20px 0;
    border-top: 1px solid $light-blue;
    font-family: $default-font;
    text-align: center;
    font-style: italic;
  }
}
