.exerciseSearch-view {
  .search-container {
    margin: 30px auto;
  }

  .search-results-list {
    list-style-type: none;
    margin: 0 30px;
    font-family: Nobile;
    border-top: 1px solid #3E92CC;
    padding-inline-start: 0;
  }

  .search-results-item {
    padding: 20px 0 20px 10px;
    border-bottom: 1px solid #3E92CC;
  }
}
